@use "../sass/colors" as *;

// BURGER BTN
.burger-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 1000;

  &:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
  }

  &:hover {
    .burger-btn__bars::after,
    .burger-btn__bars::before {
      width: 100%;
    }
  }

  &__box {
    position: relative;
    width: 40px;
    height: 30px;
  }

  &__bars,
  &__bars::after,
  &__bars::before {
    position: absolute;
    right: 0;
    height: 3px;
    content: "";
    background-color: $sec-color;
    transition: width 0.3s;
  }

  &__bars {
    width: 100%;

    &::after {
      top: 13px;
      width: 60%;
    }

    &::before {
      top: 27px;
      width: 30%;
      transition-delay: 0.1s;
    }
  }
}

// REVERSE BTN
.reverse-btn {
  position: fixed;
  top: 25px;
  right: 20px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 1000;

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40px;
    height: 30px;

    a {
      text-decoration: none;
      color: $sec-color;
    }

    .fa-solid {
      font-size: 4rem;
    }
  }
}

//WRAPPER

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

//SECTION - padding / heading

.section-heading {
  position: relative;
  margin-bottom: 2em;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: $sec-color;
  letter-spacing: 2px;
}

.section-padding {
  padding: 3em 1em;
}

@media (min-width: 768px) {
  .section-heading {
    font-size: 3.6rem;
  }
}
@media (min-width: 992px) {
  .section-heading {
    font-size: 4.8rem;
  }
}

//MEDIA QUERRIES

@media (max-width: 374px) {
  .burger-btn {
    top: 8px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .section-padding {
    padding: 3em 3em;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .burger-btn {
    display: none;
  }
  .section-padding {
    padding: 3em 3em;
  }
  .reverse-btn {
    position: absolute;
    top: 25px;
    right: 20px;
    padding: 1em;
    z-index: 1000;
  }
}
