@use "../sass/animations" as *;
@use "../sass/colors" as *;
@use "../sass/components" as *;
@use "../sass/mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

//---------------------NAVIGATION--------------------

.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 70%;
  background-image: $green-gradient;
  z-index: 100;
  transform: translateX(-350%);
  -webkit-box-shadow: 5px -1px 39px -20px rgba(255, 255, 255, 1);
  -moz-box-shadow: 5px -1px 39px -20px rgba(255, 255, 255, 1);
  box-shadow: 5px -1px 39px -20px rgba(255, 255, 255, 1);
  transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);

  &--active {
    transform: translateX(0);
  }

  &__item {
    position: relative;
    display: block;
    margin: 0.5em 1em;
    padding: 0.5em 1em;
    font-size: 3rem;
    font-weight: 200;
    color: $main-color;
    text-decoration: none;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 3px;
      height: 100%;
      transform: scaleY(0);
      background-color: $main-color;
      transition: transform 0.3s;
      content: "";
    }

    &:hover::before {
      transform: scaleY(1);
    }
  }
}

.nav-items-animation {
  animation: navItemsAnimation 1s both;
  animation-delay: 0.2s;
}

.navbar-mobile {
  position: sticky;
  top: 0;
  width: 100%;
  height: 12vh;
  background-color: $main-color;
  z-index: 1000;
  display: flex;
  align-items: center;
  -webkit-box-shadow: 0px 16px 45px -3px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 16px 45px -3px rgba(66, 68, 90, 1);
  box-shadow: 0px 16px 45px -3px rgba(66, 68, 90, 1);

  &-logo {
    position: absolute;
    font-size: 3.2rem;
    font-weight: 200;
    padding: 0.5em;
    padding-left: 1em;
    a {
      color: black;
      text-decoration: none;
    }
  }
}

.navbar-desktop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 7vh;
  background-color: $main-color;

  &-logo {
    position: absolute;

    align-self: start;
    font-size: 3rem;
    font-weight: 200;
    padding: 0.5em;
    padding-left: 2em;
    a {
      color: black;
      text-decoration: none;
    }
  }

  .navdesktop {
    align-self: flex-end;
    height: 100%;
    padding-right: 3em;
    a {
      color: black;
      text-decoration: none;
    }
    &__items {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      &-item {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;
        transition: 0.5s;
        &:hover {
          background-color: $sec-color;
          color: $main-color;
        }
      }
    }
  }
}

//---------------------HEADER------------------------

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  height: 60vh;
  text-align: justify;
  text-justify: inter-word;
  color: $main-color;
  overflow: hidden;
  @include heroImages("/dist/img/jungle-1807476_640.jpg");
  z-index: -10;

  &::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
  }

  &__heading {
    width: 100%;
    font-weight: 400;
    font-size: 2rem;
    z-index: 10;
    margin-bottom: 1em;
  }

  &__text {
    width: 100%;
    font-size: 2.5rem;
    z-index: 10;
  }
}

//---------------------ABOUT SECTION------------------------
.about {
  &__box {
    display: flex;
    flex-direction: column;
    margin: 2em 0;
  }

  &__img {
    width: 100%;
    margin-bottom: 1em;
    transform: translateX(5%);
    -webkit-box-shadow: 0px 0px 42px -7px rgba(32, 78, 35, 1);
    -moz-box-shadow: 0px 0px 42px -7px rgba(32, 78, 35, 1);
    box-shadow: 0px 0px 42px -7px rgba(32, 78, 35, 1);
  }

  &__title {
    margin-bottom: 0.5em;
    text-align: center;
    padding: 1.5em;
    font-size: 2.2rem;
  }

  &__text {
    padding: 1em;
    font-size: 1.6rem;
    text-align: justify;
    line-height: 1.5em;
  }
}

//---------------------BANNER SECTION------------------------

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 25vh;
  @include heroImages("/dist/img/girl-5785590_1280.jpg");

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 25vh;
    background-color: rgba(0, 0, 0, 0.4);
  }

  &__heading {
    position: relative;
    text-align: center;
    color: $main-color;
    border: 1px solid $main-color;
    padding: 0.5em;
    font-size: 2rem;
  }
}

//--------------------- OFFERS ------------------------
.offers {
  &__text {
    text-align: center;
    font-size: 2.2rem;
    padding-bottom: 2em;

    &:nth-child(4) {
      padding-top: 2em;
      padding-bottom: 1em;
    }
  }

  &__textmore {
    text-align: center;
    font-size: 1.6rem;

    &-link {
      color: yellowgreen;
      font-weight: bold;
      text-decoration: none;
      transition: 0.5s;

      &:hover {
        color: green;
      }
    }
  }
  &__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__card {
    position: relative;
    margin: 1em 0;
    height: 400px;
    width: 300px;
    color: $sec-color;
    text-align: center;
    padding: 2em;
    border: none;
    border-radius: 8px;
    -webkit-box-shadow: 0px 7px 16px -5px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 7px 16px -5px rgba(66, 68, 90, 1);
    box-shadow: 0px 7px 16px -5px rgba(66, 68, 90, 1);

    &-options {
      list-style-type: none;
      line-height: 1.7em;
      font-size: 1.6rem;
      text-transform: lowercase;
    }

    .off {
      color: #6c757d;
    }

    .fa-check {
      color: yellowgreen;
      margin-right: 0.5em;
    }

    .fa-minus {
      color: #6c757d;
      margin-right: 0.5em;
    }

    &-title {
      font-size: 3rem;
      font-weight: 400;
    }

    &-price {
      font-size: 4rem;
      padding: 0.2em;
    }

    &-button {
      @include cardBtn;
      font-size: 1.4rem;
      border: none;
      background-color: $main-color;
      color: black;
      -webkit-box-shadow: 3px 4px 16px -5px rgba(66, 68, 90, 1);
      -moz-box-shadow: 3px 4px 16px -5px rgba(66, 68, 90, 1);
      box-shadow: 3px 4px 16px -5px rgba(66, 68, 90, 1);
      transition: 0.5s;

      &:hover {
        color: $main-color;
        @include activeBtn;
      }
    }

    .btn-active {
      background-color: yellowgreen;
      -webkit-box-shadow: 0px 5px 25px -2px yellowgreen;
      -moz-box-shadow: 0px 5px 25px -2px yellowgreen;
      box-shadow: 0px 5px 25px -2px yellowgreen;
    }
  }
}

//--------------------- CONTACT ------------------------
.contact {
  position: relative;
  &__form,
  &__form-top {
    display: flex;
    flex-direction: column;
  }

  &__form-label {
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }

  &__form-input {
    @include contactForm;
  }
  &__form-textarea {
    @include contactForm;

    max-width: 100%;
    width: 100%;
    min-height: 150px;
    margin-bottom: 3em;
  }

  &__form-btn {
    width: 100%;
    max-width: 300px;
    @include cardBtn;
    font-size: 1.4rem;
    border: none;
    background-color: $main-color;
    color: black;
    -webkit-box-shadow: 3px 4px 16px -5px rgba(66, 68, 90, 1);
    -moz-box-shadow: 3px 4px 16px -5px rgba(66, 68, 90, 1);
    box-shadow: 3px 4px 16px -5px rgba(66, 68, 90, 1);
    transition: 0.5s;
    letter-spacing: 1px;

    &:hover {
      color: $main-color;
      background-color: yellowgreen;
      @include activeBtn;
    }
  }
}

//---------------------MAPS------------------------
.maps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  &-heading {
    font-size: 2.2rem;
    padding: 2em;
  }
}

//---------------------FOOTER------------------------

.footer {
  background-color: $third-color;

  .wrapper {
    padding: 6em 2em 2em;
  }

  &__box {
    font-size: 1.4rem;
  }

  &__box-desktop {
    display: none;
  }

  &__box-title {
    margin-bottom: 1em;
    font-size: 3rem;
    font-weight: 200;
    text-transform: uppercase;
  }

  &__box-social {
    margin: 2em 0 1em;
  }

  &__box-link {
    padding: 0 0.3em;
    font-size: 3.6rem;
    text-decoration: none;
    transition: color 0.3s;
    color: $sec-color;

    &:first-child {
      padding-left: 0;
    }

    &:hover {
      color: yellowgreen;
    }
  }

  &__bottom-text {
    padding: 2em;
    text-align: center;
  }
}

//---------------------MEDIA QUERRIES------------------------

// X-Small
@media (max-width: 374px) {
  .navdesktop {
    display: none;
  }

  .navbar-desktop {
    display: none;
  }
  nav {
    .navbar-mobile {
      &-logo {
        font-size: 2.5rem;
      }
    }
  }

  .offers {
    &__text {
      font-size: 2.1rem;
    }
  }

  .maps {
    &-map_sm {
      display: none;
    }
    &-map_md {
      display: none;
    }
  }
}

@media (min-width: 375px) and (max-width: 575.98px) {
  .navdesktop {
    display: none;
  }
  .navbar-desktop {
    display: none;
  }
  .maps {
    &-map_min {
      display: none;
    }
    &-map_md {
      display: none;
    }
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .navdesktop {
    display: none;
  }
  .navbar-desktop {
    display: none;
  }
  .about {
    &__img {
      transform: translateX(0%);
    }
  }
  .banner {
    padding: 4em;
    &__heading {
      padding: 1em;
      font-size: 2.5rem;
    }
  }
  .maps {
    &-map_min {
      display: none;
    }
    &-map_sm {
      display: none;
    }
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .navbar-mobile {
    display: none;
  }
  .header {
    height: 40vh;
    @include heroImages("/dist/img/jungle-1807476_1280.jpg");
    padding: 3em;
  }
  .about {
    &__box {
      flex-direction: row;
      justify-content: center;

      &--text {
        display: flex;
      }
      &--img {
        flex: 1;
      }
      &--text {
        flex: 1;
        flex-direction: column;
        padding-left: 3em;
      }
    }

    &__img {
      transform: translateX(0%);
      height: 100%;
      margin-bottom: 0;
    }
    &__title {
      font-size: 1.8rem;
      text-align: left;
      padding-bottom: 1em;
      padding-left: 0;
      padding-top: 0;
      margin: 0;
    }
    &__text {
      font-size: 1.4rem;
      text-align: left;
      padding: 0;
      margin: 0;
    }
  }
  .banner {
    height: 30vh;
    padding: 8em;
    background-size: 150%;

    &::before {
      height: 30vh;
    }

    &__heading {
      padding: 1em;
      font-size: 4rem;
    }
  }
  .offers {
    &__cards {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
  .footer {
    &__box-desktop {
      display: block;
      text-align: center;
      .footer__box-title {
        margin-bottom: 0.1em;
        text-transform: none;
        font-weight: bold;
        font-size: 2rem;
      }

      .footer__box-list {
        &:last-child {
          padding-bottom: 2em;
        }
        list-style-type: none;
        &-item {
          padding: 0.2em;
          a {
            font-size: 1.4rem;
            text-decoration: none;
            color: black;
            transition: 0.5s;
            &:hover {
              color: yellowgreen;
            }
          }
        }
      }
    }
    &__box-social {
      text-align: center;
    }
  }
  .maps {
    &-map_min {
      display: none;
    }
    &-map_sm {
      display: none;
    }
    &-map_md {
      display: none;
    }
  }
}
